.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) { 
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  */

.Header {
  background-color: #0e413c;
  /* min-height: 100vh; */
  height: 100wv;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Map-image {
  height: auto;
  pointer-events: none;
  width: auto;
}

.Farm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Farm-list {
  font-size: 2em;
  font-weight: bold;
}

